<table class="table">
    <thead>
      <tr>
        <th scope="col">Tipo</th>
        <th scope="col">Título</th>
        <th scope="col">Descrição</th>
        <th scope="col">Data da transação</th>
        <th scope="col">Conta</th>
        <th scope="col">Categoria</th>
        <th scope="col">Pessoa</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recordTransaction of recordsTransaction">
        <td>{{ recordTransaction.type }}</td>
        <td>{{ recordTransaction.title }}</td>
        <td>{{ recordTransaction.description }}</td>
        <td>{{ recordTransaction.date }}</td>
        <td>{{ recordTransaction.recordAccount.title }}</td>
        <td>{{ recordTransaction.recordCategory.title }}</td>
        <td>{{ recordTransaction.recordPerson ? recordTransaction.recordPerson.name : null }}</td>
      </tr>
    </tbody>
  </table>
    